@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer components {
    /* [Header] Navigation Link Button */
    .header-link {
        @apply block py-3 md:py-4 px-4 mr-3 md:mr-0 font-medium text-heading rounded-md md:rounded-none md:hover:pb-2 md:hover:border-b-[3px] md:hover:bg-transparent md:hover:border-primary;
    }

    /* [Page] Section Container */
    .section-container {
        @apply w-full max-w-screen-xl px-6 mx-auto; 
    }

    /* [Page] Section Title */
    .section-title {
        @apply text-heading font-semibold text-lg md:text-xl uppercase;
    }
}