@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer components {
    /* [Header] Navigation Link Button */
    .header-link {
        @apply block py-3 md:py-4 px-4 mr-3 md:mr-0 font-medium text-heading rounded-md md:rounded-none md:hover:pb-2 md:hover:border-b-[3px] md:hover:bg-transparent md:hover:border-primary;
    }

    
    /* [Page] Section Container */
    .section-container {
        @apply w-full max-w-screen-xl px-6 mx-auto pt-5; 
    }
    .section-container-no-py {
        @apply w-full max-w-screen-xl px-6 mx-auto; 
    }
    /* [Page] Section Title */
    .section-title {
        @apply text-heading font-semibold text-lg sm:text-xl uppercase;
    }
    /* [Home Page] Section Title LINK */
    .section-title-link {
        @apply text-heading font-semibold text-lg sm:text-xl uppercase hover:text-blue-500;
    }

    /* [Page] Section 'More' button */
    .section-more {
        @apply inline-flex mt-3 font-medium text-heading hover:text-blue-500;
    }
    /* [Page] Section Divider */
    .section-divider {
        @apply mt-4 border-b-2 border-slate-300;
    }



    /* [Movie] Title Name */
    .movie-name {
        @apply text-heading font-semibold 
        text-2xl md:text-xl min-[896px]:text-2xl min-[945px]:text-3xl
        mb-1 min-[945px]:mb-2;
    }
    /* [Movie] Title Origin Name */
    .movie-origin-name {
        @apply text-subheading
        min-[896px]:text-base min-[945px]:text-xl
        mb-1 min-[945px]:mb-2;
    }
    /* [Movie] Title other Info */
    .movie-normal-text {
        @apply text-sm lg:text-base text-text mb-1 min-[945px]:mb-2;
    }
    .movie-primary-text {
        @apply text-sm lg:text-base text-blue-500;
    }

    /* [Movie Media] Server Tabs */
    .server-tab {
        @apply inline-block px-4 py-2 text-sm font-medium rounded-t-lg text-subheading bg-gray-700 hover:bg-gray-800 ;
    }
    .server-tab-active {
        @apply text-heading bg-blue-500 hover:bg-blue-500;
    }
    /* [Movie Media] Episode Button */
    .episode-btn {
        @apply w-10 h-9 m-1 inline-flex justify-center items-center
        text-sm rounded-md text-subheading bg-gray-700 hover:bg-gray-800 ;
    }
    .episode-btn-active {
        @apply text-heading bg-blue-500 hover:bg-blue-500;
    }
    /* [Movie Media] Feature Button */
    .feature-btn {
        @apply py-1 px-2 rounded-md text-sm text-subheading bg-gray-700 hover:bg-gray-800 ;
    }

}